@page
@model GerenciamentoDeLojaPI.Pages.Produto.IncluirModel
@{
    ViewData["Title"] = "Incluir";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
                    <a class="panel-close"><i class="fa fa-times"></i></a>
                </div>
                Incluir Produto
            </div>
            <div class="panel-body">
                <form asp-page="Incluir" method="post">
                    <div class="form-group">
                        <label asp-for="Produto.Tamanho"></label>
                        <input type="text" asp-for="Produto.Tamanho" asp- class="form-control" placeholder="@Html.DisplayNameFor(x => x.Produto.Tamanho)">
                    </div>
                    <div class="form-group">
                        <label asp-for="Produto.Cor"></label>
                        <input type="text" asp-for="Produto.Cor" asp- class="form-control" placeholder="@Html.DisplayNameFor(x => x.Produto.Cor)">
                    </div>
                    <div class="form-group">
                        <label asp-for="Produto.IdTipo"></label>
                        <select class="form-control" asp-for="Produto.IdTipo" asp-items="Model.ListaTipos"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Produto.IdSetor"></label>
                        <select class="form-control" asp-for="Produto.IdSetor" asp-items="Model.ListaSetor"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Produto.IdMarca"></label>
                        <select class="form-control" asp-for="Produto.IdMarca" asp-items="Model.ListaMarcas"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Produto.IdFornecedor"></label>
                        <select class="form-control" asp-for="Produto.IdFornecedor" asp-items="Model.ListaFornecedor"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Produto.IdFuncionario"></label>
                        <select class="form-control" asp-for="Produto.IdFuncionario" asp-items="Model.ListaFuncionarios"></select>
                    </div>
                    <a asp-page="Listar" class="btn btn-default mr-1">Voltar</a>
                    <button type="submit" class="btn btn-accent">Incluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}